{% extends 'base.html.twig' %}

{% block title %}ShippingAdress index{% endblock %}

{% block body %}
    <h1>ShippingAdress index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>FullName</th>
                <th>StreetAdress</th>
                <th>City</th>
                <th>PostalCode</th>
                <th>Phone</th>
                <th>CreatedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for shipping_adress in shipping_adresses %}
            <tr>
                <td>{{ shipping_adress.id }}</td>
                <td>{{ shipping_adress.fullName }}</td>
                <td>{{ shipping_adress.streetAdress }}</td>
                <td>{{ shipping_adress.city }}</td>
                <td>{{ shipping_adress.postalCode }}</td>
                <td>{{ shipping_adress.phone }}</td>
                <td>{{ shipping_adress.createdAt ? shipping_adress.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_shipping_adress_show', {'id': shipping_adress.id}) }}">show</a>
                    <a href="{{ path('app_shipping_adress_edit', {'id': shipping_adress.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_shipping_adress_new') }}">Create new</a>
{% endblock %}
